@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  /* background-color: #fffdf9; */
  background-color: #fff;
  /* background-color: aliceblue; */
}

.mainpage{
  display: flex;
}

.sidebar{
  width: 300px;
  height: 100vh;
  /* height: 500px; */
  border-right: 1.8px solid rgb(238, 219, 219);
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05); */
}


.iconlogo{
  font-family: Inter, sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 2rem;
  background-color: #ff4f00;
  font-size: 2rem;
  border-radius: 0.2rem;
  color: aliceblue;
  /* color: #a8d7ff; */
  font-weight: 900;
  margin-right: 0.3rem;
}

.logo{
  /* width: 300px; */
  height: 4rem;
  border-bottom: 1.8px solid rgb(238, 219, 219);
  display: flex;
  justify-content: center;
  align-items: center;

  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05); */
}

.logoin{
  color: black;
  font-weight: 700;
  font-size: 1.7rem;
  /* font-family: Roboto, sans-serif; */
  font-family: Inter, sans-serif;

}

.profilesection{
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  height: 5rem;
  width: 13rem;
  border-radius: 1rem;

}

.profiletop{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
  height: 3rem;
  width: 11rem;
  background-color: #fff;
  border-radius: 1rem;
}


.userimage{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  height: 2.5rem;
  width: auto;
  border-radius: 0.7rem;
}


.username{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 4.5rem;
}
.name{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
  font-family: Inter, sans-serif;
}

.username1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  font-weight: 400;
  font-size: 0.6rem;
  color: rgb(147, 147, 147);
  font-family: Inter, sans-serif;
}


.sidebaroptions{
  display: flex;
  justify-content: ;
  align-items: center;
  flex-direction: column;
}

.home{
  margin-top: 2.5rem;
  height: 2.5rem;
  width: 13rem;
  border-radius: 1rem;
  background-color: #f4f4f4;
  display: flex;
  /* justify-content: space-between; */
  text-decoration: none;

}

.home:hover{
  cursor: pointer;
  background-color: #e7e7e7;
}

.homeicon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: green;
}

.homename{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  /* margin-right: 7rem; */
  font-size: 1rem;
  font-family: Inter, sans-serif;
  color: rgb(79, 56, 56);
}


.calendar{
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 13rem;
  border-radius: 1rem;
  background-color: #f4f4f4;
  display: flex;
  /* justify-content: space-between; */
  text-decoration: none;
}
.calendar:hover{
  cursor: pointer;
  background-color: #e7e7e7;
}

.calendaricon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: blue;
}

.calendarname{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: Inter, sans-serif;
  color: rgb(79, 56, 56);
}

.history{
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 13rem;
  border-radius: 1rem;
  background-color: #f4f4f4;
  display: flex;
  /* justify-content: space-between; */
  text-decoration: none;
}

.history:hover{
  cursor: pointer;
  background-color: #e7e7e7;
}
.historyicon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #ff4f00;
}

.historyname{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: Inter, sans-serif;
  color: rgb(79, 56, 56);
}

.reminder{
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 13rem;
  border-radius: 1rem;
  background-color: #f4f4f4;
  display: flex;
  /* justify-content: space-between; */
  text-decoration: none;
}

.reminder:hover{
  cursor: pointer;
  background-color: #e7e7e7;
}

.remindericon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #ffb300;
}

.remindername{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: Inter, sans-serif;
  color: rgb(79, 56, 56);
}


.main-content{
  /* width: 100vh; */
  width: 100%;
  height: 100vh;
}

.navbar{
  height: 4rem;
  border-bottom: 1.8px solid rgb(238, 219, 219);
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05); */
  
}


.dash{
  font-family: Inter, sans-serif;
  font-weight: 600;
  color: black;
  font-size: 2.2rem;
  
  padding: 0.5rem;
  padding-bottom: 0rem;
}

.greeting{
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: rgb(104 96 96);
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-top: 0rem;

}


.optionbar{
  margin: 0 auto;
  width: 60%;
  /* margin-left: 0.5rem;
  margin-top: 0.5rem; */
  /* border: 1.8px solid rgb(238, 219, 219); */
  /* background-color: rgb(238, 219, 219); */
  background-color: rgb(242 235 235);
  border-radius: 0.5rem;
  height: 6%;

}


.Journalarea{
  display: flex;
  justify-content:;

}


.userjournal{
  height: 35rem;
  width: 29rem;
  background-color: #f4f4f4;;
  border: 1px solid #ff4f00;
  /* border: 0px solid #ff4f00; */
  border-radius: 1rem;
  margin-left: 4rem;
  margin-top: 2rem;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.userjournaltop{
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #fff;
  height: 3rem;
  width: 26rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

.journalbook{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  color: blue;
  font-size: 1.4rem;
}

.journaldesc{
  color: black;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 0.4rem;
  letter-spacing: 0.05px;
}

.Addjournalbutton1outer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.Addjournalbutton1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4f4f4;
  border: none;
  font-size: 1rem;
  border-radius: 0.7rem;
  height: 2rem;
  width: 9rem;
  color: black;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.Addjournalbutton1:hover{
  background-color: #e7e7e7;
  cursor: pointer;
}

.plusicon{
  color: white;
      /* background-color: #98a71b; */
  background-color: #ff4f00;
  font-size: 1.1rem;
  border-radius: 10rem;
  width: 1.5rem;
}


.outerinputuserjournal{
  margin: 0 auto;
  margin-top: 1rem;
}

.inputuserjournal{
  resize: vertical;
  background-color: #fff;
  border: none;
  width: 26rem;
  height: 23rem;
  border-radius: 1rem;
  padding: 0.7rem;

}

.userjournalbottom{
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #fff;
  height: 3rem;
  width: 26rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

.geminilogo{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  background: linear-gradient(90deg, #4A90E2, #BC3CD8, #FF5C93);
  background-clip: text;
-webkit-background-clip: text;
color: transparent;
-webkit-text-fill-color: transparent;

}

.geminilogo:hover{
  cursor: pointer;
}

.bookmark{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.7rem;
  color: green;
  font-size: 1.4rem;
}

.bookmark:hover{
  cursor: pointer;
  color: gold;
}


.outerjournalbottom1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerjournalbottom2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.geminisuggestions{
  height: 35rem;
  width: 29rem;
  background-color: #f4f4f4;
  margin-top: 2rem;
  border-radius: 1rem;
  margin-left: 2rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border: 1px solid #ff4f00;
}

.geminitop{
  background-color: #fff;
  height: 3rem;
  width: 26rem;
  margin-top: 1rem;
  border-radius: 1rem;
  display: flex;
}

.geminilogomain{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  background: linear-gradient(90deg, #4A90E2, #BC3CD8, #FF5C93);
  background-clip: text;
-webkit-background-clip: text;
color: transparent;
-webkit-text-fill-color: transparent;
font-size: 2rem;

}

.geminidesc{
  color: black;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 0.7rem;
  margin-left: 0.4rem;
  letter-spacing: 0.05px;
  margin-top: 1rem;
}

.geminimain{
  height: 23rem;
  width: 26rem;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  resize: vertical;
  padding: 0.7rem;
}

.geminibottom{
  margin: 0 auto;
  background-color: #fff;
  height: 3rem;
  width: 26rem;
  margin-top: 1.3rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

.replace{
  display: flex;
  justify-content: center;
  align-items: center;
}

.replacebutton{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  color: #4A90E2;
  font-size: 1.5rem;
}

.replacebutton:hover{
  cursor: pointer;
  color: #BC3CD8;
}

.improvemore{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.improvemorebutton{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4f4f4;
  border: none;
  font-size: 1rem;
  border-radius: 0.7rem;
  height: 2rem;
  width: 9rem;
  color: black;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.improvemorebutton:hover{
  cursor: pointer;
  background-color: #e7e7e7;
}

.chatbutton{
  color: #2682ec;
  font-weight: 800;
  font-size: 1.5rem;
}

.checkicon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.7rem;
  color: green;
  font-size: 1.4rem;
}

.checkicon:hover{
  cursor: pointer;
  color: darkgreen;
}