@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  /* background-color: #fffdf9; */
  background-color: #fff;
  /* background-color: aliceblue; */
}

.mainpage{
  display: flex;
}

.sidebar{
  width: 300px;
  /* height: 100vh; */
  /* height: 500px; */
  border-right: 1.8px solid rgb(238, 219, 219);
  background-color: #f5f5f5;
  /* position: absolute; */
  /* position: fixed; */
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05); */
}


.iconlogo{
  font-family: Inter, sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 2rem;
  background-color: #ff4f00;
  font-size: 2rem;
  border-radius: 0.2rem;
  color: aliceblue;
  /* color: #a8d7ff; */
  font-weight: 900;
  margin-right: 0.3rem;
}

.logo{
  /* width: 300px; */
  height: 4rem;
  border-bottom: 1.8px solid rgb(238, 219, 219);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffdf9;
  margin-left: 2rem;

  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05); */
}

.rightoflogo{
  display: flex;
}

.logoin{
  color: black;
  font-weight: 700;
  font-size: 1.7rem;
  /* font-family: Roboto, sans-serif; */
  font-family: Inter, sans-serif;

}

.profilesection{
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  height: 4rem;
  width: 13rem;
  border-radius: 0.5rem;

}

.profiletop{
  display: flex;
  justify-content: space-between;

  align-items: center;
  height: 3rem;
  width: 13rem;
  background-color: #fff;
  border-radius: 0.5rem;
}


.userimage{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  height: 2.5rem;
  width: auto;
  border-radius: 0.7rem;
}


.username{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
.name{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
  font-family: Inter, sans-serif;
}

.username1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  font-weight: 400;
  font-size: 0.6rem;
  color: rgb(147, 147, 147);
  font-family: Inter, sans-serif;
}


.sidebaroptions{
  display: flex;
  justify-content: ;
  align-items: center;
  flex-direction: column;
}

/* .sidebarhide{

} */

.home{
  margin-top: 2.5rem;
  height: 2.5rem;
  width: 13rem;
  border-radius: 0.6rem;
  /* background-color: #f4f4f4; */
  background-color: white;
  display: flex;
  /* justify-content: space-between; */
  text-decoration: none;
  font-weight: 450;

}

.home:hover{
  cursor: pointer;
  background-color: #e7e7e7;
}

.homeicon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #1070ff;
}

.homename{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  /* margin-right: 7rem; */
  font-size: 1rem;
  font-family: Inter, sans-serif;
  color: rgb(79, 56, 56);
}


.calendar{
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 13rem;
  border-radius: 0.6rem;
  background-color: white;
  display: flex;
  /* justify-content: space-between; */
  text-decoration: none;
  font-weight: 450;
}
.calendar:hover{
  cursor: pointer;
  background-color: #e7e7e7;
}

.calendaricon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: blue;
}

.calendarname{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: Inter, sans-serif;
  color: rgb(79, 56, 56);
}

.history{
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 13rem;
  border-radius: 0.6rem;
  background-color: white;
  display: flex;
  /* justify-content: space-between; */
  text-decoration: none;
  font-weight: 450;
}

.history:hover{
  cursor: pointer;
  background-color: #e7e7e7;
}
.historyicon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #ff4f00;
}

.historyname{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: Inter, sans-serif;
  color: rgb(79, 56, 56);
}

.reminder{
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 13rem;
  border-radius: 0.6rem;
  background-color: white;
  display: flex;
  /* justify-content: space-between; */
  text-decoration: none;
  font-weight: 450;
}

.reminder:hover{
  cursor: pointer;
  background-color: #e7e7e7;
}

.remindericon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #ffb300;
}

.remindername{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: Inter, sans-serif;
  color: rgb(79, 56, 56);
}


.logout{
  margin: 0 auto;
  margin-top: 18rem;
  height: 2.5rem;
  width: 13rem;
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  align-items: center;

  color: black;

}

.logout:hover{
  cursor: pointer;
  background-color: #e7e7e7;
}

.logouticon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #000000;
}


.logoutname{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: Inter, sans-serif;
  color: rgb(79, 56, 56);
  font-weight: 450;
}

.main-content{
  /* width: 100vh; */
  width: 100%;
  height: 100vh;
}

.navbar{
  height: 4rem;
  border-bottom: 1.8px solid rgb(238, 219, 219);
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05); */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: #fffdf9;
  justify-content: space-between;
  
}

.twitterbutton{
  /* margin-left: 62rem; */
}

.collapsesidebar{
  margin-right: 1rem;
  /* display: none; */
}

.collapsesidebar2{
  padding: 1rem 0.5rem 0.5rem 1rem;
  /* display: none;*/
} 

.twitterbutton1{
  font-size: 0.9rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  /* border: 0.5px solid black; */
  border: none;
  color: white;
  font-weight: 600;
  background-color: #ff4f00;
}

.githubbutton1{
  font-size: 0.9rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  color: black;
  font-weight: 600;
  border: 0.8px solid black;
  background-color: white;
  margin-right: 2rem;


}

.githublogo{
  color: black;
  padding-right: 0.2rem;
}

.twitterlogo{

  padding-right: 0.2rem;
}

.githubbutton1:hover{
  background-color: #e1e1e1;
  cursor: pointer;
}

.twitterbutton1:hover{
  background-color: #cb4000;
  cursor: pointer;
}



.dash{
  font-family: Inter, sans-serif;
  font-weight: 600;
  color: black;
  font-size: 2.2rem;
  
  padding: 0.5rem;
  padding-bottom: 0rem;
}


.dashboardgreeting{
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.replaceall{
  display: flex;
  flex-direction: column;
}

.greeting{
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: rgb(104 96 96);
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-top: 0rem;


}


.optionbar{
  margin: 0 auto;
  width: 60%;
  /* margin-left: 0.5rem;
  margin-top: 0.5rem; */
  /* border: 1.8px solid rgb(238, 219, 219); */
  /* background-color: rgb(238, 219, 219); */
  background-color: rgb(242 235 235);
  border-radius: 0.5rem;
  height: 6%;

}


.Journalarea{
  display: flex;
  justify-content:;

}


.userjournal{
  height: 35rem;
  width: 29rem;
  background-color: #f4f4f4;;
  border: 1px solid #ff4f00;
  /* border: 0px solid #ff4f00; */
  border-radius: 1rem;
  margin-left: 4rem;
  margin-top: 2rem;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.userjournaltop{
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #fff;
  height: 3rem;
  width: 26rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

.journalbook{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  color: blue;
  font-size: 1.4rem;
}

.journaldesc{
  color: black;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 0.4rem;
  letter-spacing: 0.05px;
}

.Addjournalbutton1outer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.Addjournalbutton1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4f4f4;
  border: none;
  font-size: 1rem;
  border-radius: 0.7rem;
  height: 2rem;
  width: 9rem;
  color: black;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.Addjournalbutton1:hover{
  background-color: #e7e7e7;
  cursor: pointer;
}

.plusicon{
  color: white;
      /* background-color: #98a71b; */
  background-color: #ff4f00;
  font-size: 1.1rem;
  border-radius: 10rem;
  width: 1.5rem;
}


.outerinputuserjournal{
  margin: 0 auto;
  margin-top: 1rem;
}

.inputuserjournal{
  resize: vertical;
  background-color: #fff;
  border: none;
  width: 26rem;
  height: 23rem;
  border-radius: 1rem;
  padding: 0.7rem;

}

.userjournalbottom{
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #fff;
  height: 3rem;
  width: 26rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

.geminilogo{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  background: linear-gradient(90deg, #4A90E2, #BC3CD8, #FF5C93);
  background-clip: text;
-webkit-background-clip: text;
color: transparent;
-webkit-text-fill-color: transparent;

}

.geminilogo:hover{
  cursor: pointer;
}

.bookmark{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.7rem;
  color: green;
  font-size: 1.4rem;
}

.bookmark:hover{
  cursor: pointer;
  color: gold;
}


.outerjournalbottom1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerjournalbottom2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.geminisuggestions{
  height: 35rem;
  width: 29rem;
  background-color: #f4f4f4;
  margin-top: 2rem;
  border-radius: 1rem;
  margin-left: 2rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border: 1px solid #ff4f00;
}

.geminitop{
  background-color: #fff;
  height: 3rem;
  width: 26rem;
  margin-top: 1rem;
  border-radius: 1rem;
  display: flex;
}

.geminilogomain{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  background: linear-gradient(90deg, #4A90E2, #BC3CD8, #FF5C93);
  background-clip: text;
-webkit-background-clip: text;
color: transparent;
-webkit-text-fill-color: transparent;
font-size: 2rem;

}

.geminidesc{
  color: black;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 0.7rem;
  margin-left: 0.4rem;
  letter-spacing: 0.05px;
  margin-top: 1rem;
}

.geminimain{
  height: 23rem;
  width: 26rem;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  resize: vertical;
  padding: 0.7rem;
}

.geminibottom{
  margin: 0 auto;
  background-color: #fff;
  height: 3rem;
  width: 26rem;
  margin-top: 1.3rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

.replace{
  display: flex;
  justify-content: center;
  align-items: center;
}

.replacebutton{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  color: #4A90E2;
  font-size: 1.5rem;
}

.replacebutton:hover{
  cursor: pointer;
  color: #BC3CD8;
}

.improvemore{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.improvemorebutton{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4f4f4;
  border: none;
  font-size: 1rem;
  border-radius: 0.7rem;
  height: 2rem;
  width: 9rem;
  color: black;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.improvemorebutton:hover{
  cursor: pointer;
  background-color: #e7e7e7;
}

.chatbutton{
  color: #2682ec;
  font-weight: 800;
  font-size: 1.5rem;
}

.checkicon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.7rem;
  color: green;
  font-size: 1.4rem;
}

.checkicon:hover{
  cursor: pointer;
  color: darkgreen;
}


/* these classes our for render and state function so kept separate */


.alljournals{
  display: flex;
  flex-wrap: wrap;
  /* align-items: start; */
  align-content: start;
  /* flex-direction: column; */
}


.newjournal{
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #f4f4f4;
  height: 22rem;
  width: 24rem;
  border-radius: 1rem;
  /* display: flex; */
  align-items: center;
  border: 1px solid #ff4f00;
  /* justify-content: center; */

}

/* now desc right represents descdown and left represents top */

.journaldescright{
  margin: 0 auto;
  margin-top: 1.5rem;
  background-color: #fff;
  height: 14.5rem;
  width: 21rem;
  border-radius: 1rem;
  /* margin-right: 7rem; */

}

.journaldescleft{
  /* margin: 0 auto; */
  display: flex;
  margin-left: 1.5rem;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
}

.journaldescdate{
  margin-top: 1rem;
  /* margin: 0 auto; */
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 3rem;
  width: 15rem;
  border-radius: 1rem;
}

.leftjournaldatepart{
  margin: 0 auto;
  display: flex;
  margin-left: 1rem;
  font-size: 1.5rem;
  align-items: center;
  color: #4A90E2;
}

.leftjournalpart2{
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: black;
  margin-right: 1rem;
}

.usertext{
  margin: 0 auto;
  /* margin-top: 1rem; */
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.5rem;
  width: 15rem;
  height: 12.5rem;

}


.collapse20{
  width: 0;
  display: none;
}

.collapse10{
  display: block;
  position: absolute;

}


@media only screen and (max-width: 1210px){
    .userjournal{
      height: 30rem;
      width: 24rem;
      background-color: #f4f4f4;
      border: 1px solid #ff4f00;
      /* border: 0px solid #ff4f00; */
      border-radius: 1rem;
      margin-left: 2rem;
      margin-top: 2rem;
      display: flex;
      /* justify-content: center; */
      flex-direction: column;
  }

  .userjournaltop {
    margin: 0 auto;
    margin-top: 1rem;
    background-color: #fff;
    height: 3rem;
    width: 22rem;
    border-radius: 0.7rem;
    display: flex;
    justify-content: space-between;
}

.journalbook {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  color: blue;
  font-size: 1.4rem;
}

.journaldesc {
  color: black;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 0.4rem;
  letter-spacing: 0.05px;
}
.Addjournalbutton1outer {
  display: flex
;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.Addjournalbutton1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4f4f4;
  border: none;
  font-size: 0.8rem;
  border-radius: 0.7rem;
  height: 2rem;
  width: 7rem;
  color: black;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.plusicon {
  color: white;
  /* background-color: #98a71b; */
  background-color: #ff4f00;
  font-size: 0.8rem;
  border-radius: 10rem;
  width: 1rem;
}

.outerinputuserjournal {
  margin: 0 auto;
  margin-top: 1rem;
}

.inputuserjournal {
  resize: vertical;
  background-color: #fff;
  border: none;
  width: 22rem;
  height: 20rem;
  border-radius: 1rem;
  padding: 0.7rem;
}

.userjournalbottom {
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #fff;
  height: 3rem;
  width: 22rem;
  border-radius: 0.7rem;
  display: flex
;
  justify-content: space-between;
}

.geminisuggestions {
  height: 30rem;
  width: 24rem;
  background-color: #f4f4f4;
  margin-top: 2rem;
  border-radius: 1rem;
  margin-left: 2rem;
  display: flex
;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border: 1px solid #ff4f00;
}

.geminitop {
  background-color: #fff;
  height: 3rem;
  width: 22rem;
  margin-top: 1rem;
  border-radius: 0.7rem;
  display: flex
;
}

.geminimain {
  height: 20rem;
  width: 22rem;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  resize: vertical;
  padding: 0.7rem;
}

.geminibottom {
  margin: 0 auto;
  background-color: #fff;
  height: 3rem;
  width: 22rem;
  margin-top: 1.3rem;
  border-radius: 0.7rem;
  display: flex
;
  justify-content: space-between;
}
}


@media only screen and (max-width: 1070px){


  .replaceall{
    overflow-y: scroll;
    height: 90%;
  }

  .Journalarea{

    flex-direction: column;
    align-items: center;
  }

  .logout{
    margin-top: 15rem;
  }
}


@media only screen and (max-width: 900px){

  .profiletop{
    width: 12rem;
  }

  .home{

    width: 11rem;

  }

  .calendar{
    width: 11rem;
  }

  .history{
    width: 11rem;
  }
  .reminder{
    width: 11rem;
  }

  .logout{
    width: 12rem;
  }

  .Journalarea{
    align-items: normal;
  }
}

@media only screen and (max-width: 630px){
  .sidebar{
    display: none;
  }

  .Journalarea{
    align-items: center;
  }

  /* .collapsesidebar{
    display: flex;
  }
  .collapsesidebar2{
    display: flex;
  } */

}

@media only screen and (max-width: 400px){

    .logo{
      margin-left: 1rem;
    }

    /* .githubbutton{
      margin-right: -1.2rem;
    } */
}


@media only screen and (max-width: 412px){


  .dashboardgreeting{
    align-items: center;
  }
  .userjournal {
    height: 27rem;
    width: 21rem;
    background-color: #f4f4f4;
    border: 1px solid #ff4f00;
    /* border: 0px solid #ff4f00; */
    border-radius: 1rem;
    margin-left: 2rem;
    margin-top: 2rem;
    display: flex
;
    /* justify-content: center; */
    flex-direction: column;
}

.userjournaltop {
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #fff;
  height: 3rem;
  width: 19rem;
  border-radius: 0.7rem;
  display: flex
;
  justify-content: space-between;
}

.journalbook {
  display: flex
;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  color: blue;
  font-size: 1.1rem;
}


.journaldesc {
  color: black;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  margin-left: 0.4rem;
  letter-spacing: 0.05px;
}

.Addjournalbutton1outer {
  display: flex
;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.Addjournalbutton1 {
  display: flex
;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4f4f4;
  border: none;
  font-size: 0.7rem;
  border-radius: 0.5rem;
  height: 1.5rem;
  width: 6rem;
  color: black;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.inputuserjournal {
  resize: vertical;
  background-color: #fff;
  border: none;
  width: 19rem;
  height: 17rem;
  border-radius: 1rem;
  padding: 0.7rem;
}

.userjournalbottom {
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #fff;
  height: 3rem;
  width: 19rem;
  border-radius: 0.7rem;
  display: flex
;
  justify-content: space-between;
}

.geminisuggestions{
  height: 27rem;
  width: 21rem;
}

.geminitop{
  width: 19rem;
}

.geminimain{
  height: 17rem;
  width: 19rem;
}

.geminibottom{
  width: 19rem;
}

.improvemorebutton{
  font-size: 0.8rem;
  width: 7rem;
}

.Journalarea{
  align-items: normal;
}

.navbar{
  width: 105vw;
}

.githubbutton1{
  margin-right: 1rem;
}

.username {
  display: flex
;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2.5rem;
}

.collapsesidebar{
  margin-right: 1rem;
}
}

